<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="anatlyzer.atl.editor.additionalanalysis">
      <additional
            provider="anatlyzer.ocl.emf.editor.MetamodelInvariantsExtension">
      </additional>
   </extension>
   
   <extension point="org.eclipse.ui.commands">
      <command
            categoryId="anatlyzer.commands"
            id="anatlyzer.commands.genInvariantLibrary"
            name="Generate invariants as library">
      </command>
   </extension>
   
   <extension
         point="org.eclipse.ui.menus">
   
         <menuContribution
            locationURI="popup:anatlyzer.atl.editor.popup?after=additions">
            <command
                  commandId="anatlyzer.commands.genInvariantLibrary"
                  id="anatlyzer.commands.genInvariantLibrary"
                  mnemonic="L">
            </command>
      </menuContribution>
   </extension>
   
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="anatlyzer.ocl.commands.GenInvariantLibrary"
            commandId="anatlyzer.commands.genInvariantLibrary">
      </handler>
   </extension>
   
   
   <!-- OCL editor extensions -->


   <!-- Definition of "anATLyzer" menu in the ATL text editor -->
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
      		locationURI="popup:org.eclipse.ocl.examples.xtext.completeocl.CompleteOCL.EditorContext?after=additions">
         <menu
               id="anatlyzer.ocl.modelvalidator.popup"
               label="Model Validator"
               mnemonic="M">
         </menu>	
      </menuContribution>
   </extension>

   <extension point="org.eclipse.ui.commands">
      <command
            categoryId="anatlyzer.useocl.commands"
            id="anatlyzer.useocl.commands.modelValidatorDialog"
            name="Model validator...">
      </command>
   </extension>
   
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="anatlyzer.useocl.commands.ModelValidatorDialog"
            commandId="anatlyzer.useocl.commands.modelValidatorDialog">
      </handler>
   </extension>
      
   <extension
         point="org.eclipse.ui.menus">
   
         <menuContribution
            locationURI="popup:anatlyzer.ocl.modelvalidator.popup?after=additions">
            <command
                  commandId="anatlyzer.useocl.commands.modelValidatorDialog"
                  id="anatlyzer.useocl.commands.modelValidatorDialog"
                  mnemonic="D">
            </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="anatlyzer.view.category"
            class="anatlyzer.ocl.emf.views.OclAnalysisView"
            icon="icons/ocl.png"
            id="anatlyzer.ocl.emf.views.OclAnalysisView"
            name="OCL Analysis View">
      </view>
 	</extension>
   
</plugin>
