<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="anatlyzer.atl.editor.problemexplanation.NoBindingForCompulsoryFeatureExplanation"
         name="No binding for compulsory feature"
         point="anatlyzer.atl.editor.problemexplanation">
      <explanation
            apply="anatlyzer.atl.explanations.errors.NoBindingForCompulsoryFeatureExplanation">
      </explanation>
   </extension>

   <extension
         id="anatlyzer.atl.explanations.errors.BindingPossiblyUnresolvedExplanation"
         name="Binding possibly unresolved"
         point="anatlyzer.atl.editor.problemexplanation">
      <explanation
            apply="anatlyzer.atl.explanations.errors.BindingPossiblyUnresolvedExplanation">
      </explanation>
   </extension>

   <extension
         id="anatlyzer.atl.explanations.errors.AccessToUndefinedValueExplanation"
         name="Access to undefined value"
         point="anatlyzer.atl.editor.problemexplanation">
      <explanation
            apply="anatlyzer.atl.explanations.errors.AccessToUndefinedValueExplanation">
      </explanation>
   </extension>

   <extension
         id="anatlyzer.atl.explanations.errors.BindingInvalidTargetExplanation"
         name="Binding invalid target explanation"
         point="anatlyzer.atl.editor.problemexplanation">
      <explanation
            apply="anatlyzer.atl.explanations.errors.BindingInvalidTargetExplanation">
      </explanation>
   </extension>
   
   <extension
         id="anatlyzer.atl.explanations.errors.LazyRuleWithFilter"
         name="Lazy rule with filter"
         point="anatlyzer.atl.editor.problemexplanation">
      <explanation
            apply="anatlyzer.atl.explanations.errors.LazyRuleWithFilterExplanation">
      </explanation>
   </extension>
</plugin>
