<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="anatlyzer.atl.editor.quickfix">
      <quickfix
            apply="anatlyzer.atl.editor.quickfix.ConstraintSolvingQuickFix">
      </quickfix>
   </extension>
   <extension
         point="anatlyzer.atl.editor.quickfix">
      <quickfix
            apply="anatlyzer.atl.editor.quickfix.warnings.FlattenOverNonNestedCollectionQuickFix">
      </quickfix>
   </extension>
   <extension
         point="anatlyzer.atl.editor.quickfix">
      <quickfix
            apply="anatlyzer.atl.editor.quickfix.TransformationSliceQuickFix">
      </quickfix>
   </extension>
   <extension
         point="anatlyzer.atl.editor.quickfix">
      <quickfixset
            detector="anatlyzer.atl.editor.quickfix.kinds.NoRuleForBindingQuickfixSet">
      </quickfixset>
   </extension>
   <extension
         id="anatlyzer.atl.editor.quickfix.warnings.OperationOverCollectionQuickfix"
         name="Quickfix: Change dot for arrow"
         point="anatlyzer.atl.editor.quickfix">
      <quickfix
            apply="anatlyzer.atl.editor.quickfix.warnings.OperationOverCollectionQuickfix">
      </quickfix>
   </extension>
      <extension
         id="anatlyzer.atl.editor.quickfix.warnings.CollectionOperationOverNoCollectionQuickfix"
         name="Quickfix: Change arrow for dot"
         point="anatlyzer.atl.editor.quickfix">
      <quickfix
            apply="anatlyzer.atl.editor.quickfix.warnings.CollectionOperationOverNoCollectionQuickfix">
      </quickfix>
   </extension>
   <extension
         id="anatlyzer.atl.editor.quickfix.warnings.IncoherentDeclaredTypeQuickfix"
         name="Quickfix: Align declared type with the inferred type"
         point="anatlyzer.atl.editor.quickfix">
      <quickfix
            apply="anatlyzer.atl.editor.quickfix.warnings.IncoherentDeclaredTypeQuickfix">
      </quickfix>
   </extension>
   <extension
         id="anatlyzer.atl.editor.quickfix.errors.CollectionOperationNotFoundQuickfix"
         name="Quickfix: Find collection operation with similar name"
         point="anatlyzer.atl.editor.quickfix">
      <quickfix
            apply="anatlyzer.atl.editor.quickfix.errors.CollectionOperationNotFoundQuickfix">
      </quickfix>
   </extension>
   <extension
         point="anatlyzer.atl.editor.witnessfinder">
      <finder
            finder="anatlyzer.atl.editor.witness.UseWitnessFinder">
      </finder>
   </extension>
   <extension
         point="anatlyzer.atl.editor.quickfix">
      <quickfix
            apply="anatlyzer.atl.editor.quickfix.errors.FeatureNotFoundQuickFix">
      </quickfix>
   </extension>
   <extension
         point="anatlyzer.atl.editor.quickfix">
      <quickfix
            apply="anatlyzer.atl.editor.quickfix.errors.NoClassFoundInMetamodelQuickFix">
      </quickfix>
   </extension>
   <extension
         point="anatlyzer.atl.editor.quickfix">
      <quickfixset
            detector="anatlyzer.atl.editor.quickfix.kinds.OperationNotFoundInThisModuleQuickfixSet">
      </quickfixset>
   </extension>
</plugin>
