<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="anatlyzer.atl.editor.quickfix">
      <quickfixset
            detector="anatlyzer.atl.editor.quickfix.kinds.NoRuleForBindingQuickfixSet">
      </quickfixset>
   </extension>
   <extension
         id="anatlyzer.atl.editor.quickfix.warnings.OperationOverCollectionQuickfix"
         name="Quickfix: Change dot for arrow"
         point="anatlyzer.atl.editor.quickfix">
      <quickfix
            apply="anatlyzer.atl.editor.quickfix.warnings.CollectionOperationOverNoCollectionQuickfix">
      </quickfix>
   </extension>
      <extension
         id="anatlyzer.atl.editor.quickfix.warnings.CollectionOperationOverNoCollectionQuickfix"
         name="Quickfix: Change arrow for dot"
         point="anatlyzer.atl.editor.quickfix">
      <quickfix
            apply="anatlyzer.atl.editor.quickfix.warnings.OperationOverCollectionTypeQuickfix">
      </quickfix>
   </extension>
   <extension
         id="anatlyzer.atl.editor.quickfix.errors.IncoherentDeclaredTypeQuickfix_AssignInferredType"
         name="Quickfix: Align declared type with the inferred type"
         point="anatlyzer.atl.editor.quickfix">
      <quickfix
            apply="anatlyzer.atl.editor.quickfix.errors.IncoherentDeclaredTypeQuickfix_AssignInferredType">
      </quickfix>
   </extension>
   <extension
         id="anatlyzer.atl.editor.quickfix.errors.CollectionOperationNotFoundQuickfix"
         name="Quickfix: Find collection operation with similar name"
         point="anatlyzer.atl.editor.quickfix">
      <quickfix
            apply="anatlyzer.atl.editor.quickfix.errors.CollectionOperationNotFoundQuickfix">
      </quickfix>
   </extension>
   <extension
         point="anatlyzer.atl.editor.witnessfinder">
      <finder
            finder="anatlyzer.atl.editor.witness.EclipseUseWitnessFinder">
      </finder>
   </extension>
   <extension
         id="anatlyzer.atl.editor.quickfix.errors.FeatureNotFoundQuickFixSet"
         name="Quickfixes for &quot;Feature not found&quot;"
         point="anatlyzer.atl.editor.quickfix">
      <quickfixset
            detector="anatlyzer.atl.editor.quickfix.kinds.FeatureNotFoundQuickfixSet">
      </quickfixset>
   </extension>
   <extension
         id="anatlyzer.atl.editor.quickfix.kinds.FeatureNotFoundInThisModuleQuickfixSet"
         name="Quickfixes for &quot;Feature not found in this module&quot;"
         point="anatlyzer.atl.editor.quickfix">
      <quickfixset
            detector="anatlyzer.atl.editor.quickfix.kinds.FeatureNotFoundInThisModuleQuickfixSet">
      </quickfixset>
   </extension>

   <extension
         point="anatlyzer.atl.editor.quickfix">
      <quickfixset
            detector="anatlyzer.atl.editor.quickfix.kinds.NoBindingForCompulsoryFeatureQuickfixSet">
      </quickfixset>
   </extension>
   <extension
         point="anatlyzer.atl.editor.quickfix">
      <quickfix
            apply="anatlyzer.atl.editor.quickfix.errors.ResolveTempOutputPatternElementNotFound_QuickFix">
      </quickfix>
   </extension>
   <extension
         point="anatlyzer.atl.editor.quickfix">
      <quickfix
            apply="anatlyzer.atl.editor.quickfix.errors.ResolveTempWithoutRuleQuickFix_CreateRule">
      </quickfix>
   </extension>
   <extension
         point="anatlyzer.atl.editor.quickfix">
      <quickfix
            apply="anatlyzer.atl.editor.quickfix.errors.PrimitiveBindingInvalidAssignment_Quickfix">
      </quickfix>
   </extension>
   <extension
         point="anatlyzer.atl.editor.quickfix">
      <quickfix
            apply="anatlyzer.atl.editor.quickfix.errors.NoModelFoundQuickfix_ChooseExistingOne">
      </quickfix>
   </extension>
   <extension
         point="anatlyzer.atl.editor.quickfix">
      <quickfix
            apply="anatlyzer.atl.editor.quickfix.errors.ObjectBindingButPrimitiveAssignedQuickfix_changeBindingVariable">
      </quickfix>
   </extension>
   <extension
         id="anatlyzer.atl.editor.quickfix.errors.AccessToUndefinedValueQuickSet"
         name="Quickfixes for &quot;Access to undefined value&quot;"
         point="anatlyzer.atl.editor.quickfix">
      <quickfixset
            detector="anatlyzer.atl.editor.quickfix.kinds.AccessToUndefinedValueQuickfixSet">
      </quickfixset>
   </extension>
   <extension
         point="anatlyzer.atl.editor.quickfix">
      <quickfix
            apply="anatlyzer.atl.editor.quickfix.errors.BindingExpectedOneAssignedMany_SelectFirst">
      </quickfix>
   </extension>
   <extension
         point="anatlyzer.atl.editor.quickfix">
      <quickfix
            apply="anatlyzer.atl.editor.quickfix.errors.IncoherentHelperReturnTypeQuickfix_AssignInferredType">
      </quickfix>
   </extension>
   <extension
         point="anatlyzer.atl.editor.quickfix">
      <quickfixset
            detector="anatlyzer.atl.editor.quickfix.kinds.OperationFoundInSubtypeQuickfixSet">
      </quickfixset>
   </extension>
   <extension
         id="anatlyzer.atl.editor.quickfix.errors.BindingPossiblyUnresolvedQuickSet"
         name="Quickfixes for &quot;Binding possibly unresolved&quot;"
         point="anatlyzer.atl.editor.quickfix">
      <quickfixset
            detector="anatlyzer.atl.editor.quickfix.kinds.BindingPossiblyUnresolvedQuickfixSet">
      </quickfixset>
   </extension>
   <extension
         id="anatlyzer.atl.editor.quickfix.errors.BindingInvalidTargetInResolvedRuleQuickfixSet"
         name="Quickfixes for &quot;Binding with invalid target in resolved rule &quot;"
         point="anatlyzer.atl.editor.quickfix">
      <quickfixset
            detector="anatlyzer.atl.editor.quickfix.kinds.BindingInvalidTargetInResolvedRuleQuickfixSet">
      </quickfixset>
   </extension>
   <extension
         point="anatlyzer.atl.editor.quickfix">
      <quickfixset
            detector="anatlyzer.atl.editor.quickfix.kinds.OperationCallInvalidParameterQuickfixSet">
      </quickfixset>
   </extension>
   <extension
         point="anatlyzer.atl.editor.quickfix">
      <quickfixset
            detector="anatlyzer.atl.editor.quickfix.kinds.OperationCallInvalidNumberOfParametersQuickfixSet">
      </quickfixset>
   </extension>
   <extension
         id="anatlyzer.atl.editor.quickfix.errors.NoClassFoundInMetamodelQuickfixSet"
         name="Quickfixes for &quot;No class found in meta-model &quot;"
         point="anatlyzer.atl.editor.quickfix">
      <quickfixset
            detector="anatlyzer.atl.editor.quickfix.kinds.NoClassFoundInMetamodel_QuickfixSet">
      </quickfixset>
   </extension>


   <extension
     id="anatlyzer.atl.editor.quickfix.kinds.OperationNotFoundInThisModuleQuickfixSet"
         name="Quickfixes for &quot;Operation not found in thisModule &quot;"
         point="anatlyzer.atl.editor.quickfix">
      <quickfixset
            detector="anatlyzer.atl.editor.quickfix.kinds.OperationNotFoundInThisModuleQuickfixSet">
      </quickfixset>
   </extension>
   <extension
         id="anatlyzer.atl.editor.quickfix.kinds.OperationNotFoundQuickfixSet"
         name="Quickfixes for &quot;Operation not found&quot;"
         point="anatlyzer.atl.editor.quickfix">
      <quickfixset
            detector="anatlyzer.atl.editor.quickfix.kinds.OperationNotFoundQuickfixSet">
      </quickfixset>
   </extension>
   <extension
         id="anatlyzer.atl.editor.quickfix.kinds.RuleConflictQuickfixSet"
         name="Quickfixes for &quot;Rule Conflict&quot;"
         point="anatlyzer.atl.editor.quickfix">
      <quickfixset
            detector="anatlyzer.atl.editor.quickfix.kinds.RuleConflictQuickfixSet">
      </quickfixset>
   </extension>
   
   <!-- Constraint solving and slicing -->
   
   <extension
         point="anatlyzer.atl.editor.quickfix">
      <quickfix
            apply="anatlyzer.atl.editor.quickfix.ConstraintSolvingQuickFix">
      </quickfix>
   </extension>
   <extension
         point="anatlyzer.atl.editor.quickfix">
      <quickfix
            apply="anatlyzer.atl.editor.quickfix.warnings.FlattenOverNonNestedCollectionQuickFix">
      </quickfix>
   </extension>
   <extension
         point="anatlyzer.atl.editor.quickfix">
      <quickfix
            apply="anatlyzer.atl.editor.quickfix.TransformationSliceQuickFix">
      </quickfix>
   </extension>
   
    <!-- END-OF Constraint solving and slicing -->
   
</plugin>
