<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="anatlyzer.ocl.ui.constraint_checker_language" name="Constraint checker language" schema="schema/anatlyzer.ocl.ui.constraint_checker_language.exsd"/>

   <extension point="org.eclipse.ui.popupMenus">
      <objectContribution
            id="org.eclipse.emf.ecore.editor.CreateDynamicInstance"
            objectClass="org.eclipse.emf.ecore.EObject">
         <action
               id="anatlyzer.ocl.ui.CheckConstraints"
               label="Check constraints"
               menubarPath="additions"
               class="anatlyzer.ocl.ui.CheckConstraintsAction"
               enablesFor="1"/>
      </objectContribution>
   </extension>
   <extension
         point="anatlyzer.ocl.ui.constraint_checker_language">
      <language
            bridge="anatlyzer.ocl.ui.OCLinATL"
            name="anatlyzer.ocl.ui.atlocl">
      </language>
   </extension>
      
</plugin>
